.main-nav {
    background-color: #e9e9e9;
    display: flex;
    justify-content: space-between;
    padding: 14px 16px;
}

.main-nav .logo,
.main-nav .nav-links,
.main-nav .ticker-form {
    display: flex;
    align-items: center;
}
#live-button-container {
    width: 55px;
    height: 30px;
}

.main-nav .nav-links {
    gap: 16px;
}

.main-nav a {
    color: black;
    text-decoration: none;
    font-size: 17px;
}

.main-nav a:hover {
    background-color: orange;
    color: black;
}

.ticker-form {
    gap: 16px;
}

h1 {
    border: 2px solid ;
}

h1 > p{
    margin: 5px 10px 10px 10px;
}

.bold {
    font-weight: 800; /* You can adjust this value. Normal weight is 400, and maximum available is 900. */
}

div#date-intervals {
    display: flex;
    justify-content: flex-start;
}
div#date-intervals {
    margin-left: 15mm;
    gap: 12.5mm;
}

#date-intervals button:hover {
    background-color: orange;

}
#date-intervals button:focus {
    background-color: orange;

}

#date-intervals .pulse-live-data {
    /* animation properties */
    object-position: absolute;
    text-align: center;
    transform: translateZ(0);
    box-shadow: 0 0 1px transparent;
    animation-name: my-animation;
    animation-duration: .8s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    /* other properties */
    width: 43px;
    height: 25px;
    border-radius: 8px;
    border: black solid;
    border: 1.7px black solid;



  }

  @keyframes my-animation {
    to {
      background-color: orange;
      padding: 0;
      width: 52px;
      height: 25px;
      margin-left:5px;
      margin-right: 5px;
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }

section.top-section-container {
    display: flex;
}

div#news-side-container {
    /* padding-left: 100px; */
    padding: 50px 50px;
    border: thin solid;
}





body {font-family: Arial;}

/* Style the tab */
.tab {
  overflow: hidden;
  margin-top: 20px;
  /* width: 1000px; */
  /* margin-top: 10px;
  margin-left:15px ; */
  /* border: 2px solid #000000; */
  /* background-color: #f1f1f1; */
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  outline: none;
  cursor: pointer;
  padding: 10px 12px;
  font-size: 12px;
  width: 225px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: orange;
  border-right: #ccc;
  border-bottom: #ccc;
  border-bottom: 0;

}

/* Create an active/current tablink class */
.tab button.active {
    border-bottom: none;  /* Modify if needed */
    background-color: orange;
    font-size: 20px;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    height: 175px;  /* adjust this value according to your needs */
    overflow-y: auto;
  }


span {
    font-weight: 10px;
    height: inherit;
    width: inherit;
}


div#chart-container {
    padding-right: 40px;
}

span#chart-container-ticker {
    margin-left: 5px;

}

span#ticker-label {
    margin-left: 50px;
    position: absolute;
    margin-top: 15px
}



.grid {
    stroke: lightgrey;
    stroke-opacity: 0.3;
}

#chart {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.top-section-container {
    display: flex;
}

#aside-containers {
    display: flex;
    flex-direction: column;
}

.side-information-section {
    max-width: 100%;
    max-height: 100%;
}
.ratio-information-container {
    display: flex;
    justify-content: space-evenly;
}

.ratio-titles {
    /* display: flex;
    align-items: center; */
}

.ratio-list-container {
    /* display: flex; */
}

aside .ratio-information-container > h4{
    margin-top: 50px;
}

aside .side-information-section {
    margin-bottom: 50px;
}


.side-information-section {
    max-width: 100%;
    max-height: 100%;
    /* margin-top: 50px; */
}

.ratio-information-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    height: 250px;
    overflow-y: auto;
    /* width: max-content; */
}

nav li {
    list-style: none;
}

article {
  border-bottom: 1px solid black;
}
article {
    border-bottom: 1px solid black;
}
.tabcontent :last-child{
  border-bottom: 0;
}

.tabcontent {
    overflow-y: auto;
    height: 300px;
    overflow-x: auto;
    width: 450px;
}

.tab button.active {
    border-bottom: none;
    background-color: orange;
    font-size: 20px;
    width: -webkit-fill-available;
}

article :nth-child(3) {
    font-weight: bolder;
}

article :nth-child(4) {
    font-style: italic;
}

h4 a {
    text-decoration: none;

}
.tab {
    overflow: hidden;
    margin-top: 20px;
    /* width: 1000px; */
    /* border: 2px solid #000000; */
    /* background-color: #f1f1f1; */
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    /* border-radius: 12px; */
    height: 250px;
    overflow-y: auto;
    /* width: max-content; */
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.tab button.active {
    border-bottom: none;
    background-color: orange;
    font-size: 23px;
    width: -webkit-fill-available;
    border: 20px;
}

.ratio-information-container {
    display: flex;
    justify-content: space-between;
}

ul.ratio-list-container {
    /* display: flex; */
    /* flex-wrap: inherit; */
    /* flex: auto; */
    margin-left: -20px;
}

.ratio-information-container {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}





/* .chart-buttons:before {
  background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
} */

/* .chart-buttons:after {
  background-color: initial;
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
} */

/* .chart-buttons:hover:not(:disabled):before {
  background: linear-gradient(92.83deg, rgb(255, 116, 38) 0%, rgb(249, 58, 19) 100%);
} */

/* .chart-buttons:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
  opacity: 0;
} */
/*
.chart-buttons:active:not(:disabled) {
  color: #ccc;
}

/* .chart-buttons:active:not(:disabled):before {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
} */
/*
.chart-buttons:active:not(:disabled):after {
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

.chart-buttons:disabled {
  cursor: default;
  opacity: .24;
} */

.raise-buttons::before {
    border-radius: 50px;
}

.raise-buttons:hover,
.raise-buttons:focus {
  box-shadow: 0 0.6em 0.6em -0.5em;
  transform: translateY(-0.50em);
  border-color: thin blue !important;
  transition-duration: 10ms !important;

}
.raise-buttons::after {
    box-shadow: 0 0 0 15px
}



.modal-container {
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-btn {
    box-sizing: border-box;
    padding: 10px 30px;
    background: orange;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 35px;


}

.modal-popup {
    box-sizing: border-box;
    width: 400px;
    background-color: aqua;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%)scale(0.1);
    text-align: center;
    padding: 0 20px 20px;
    color: black;
    visibility: hidden;
    transition: transform 0.4s,top 0.4s;

}

.open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
}
/* .modal-popup figure {
    box-sizing: border-box;
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
} */


.modal-popup h4 {
    box-sizing: border-box;
    font-size: 30px;
    margin: 25px 0 25px;
}

.modal-popup button {
    box-sizing: border-box;
    width: 100%;
    margin-top: 50px;
    padding: 5px 0;
    background: orange;
    color: black;
    border:1px solid;
    outline: none;
    font-size: 22px;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 7px 7px rgba(0,0,0,0.5);


}

.instructions-container {
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid black;
    height: 200px;
    padding: 5px 5px 5px;

}
.instructions-container p {
    margin-left: 50px;
    margin-top: 15px;
}

div#date-intervals {
    margin-left: 25mm;
    gap: 20mm;
}
